/* ---------------------------------------- */
/* https://github.com/FaridZelli */
/* ---------------------------------------- */

/* ---------------------------------------- */
/* --- Hero Section --- */
/* ---------------------------------------- */

#hero {
padding: 3rem 0;
padding-top: 7rem;
}

.red-rectangle {
	width: auto;
	max-width: auto;
	padding: unset;
	margin: 0 4rem;
}

.bio {
	width: 100%;
}

/* ---------------------------------------- */
/* --- Mobile Site --- */
/* ---------------------------------------- */

@media (max-width: 768px), (max-height: 412px) {

	html {
		font-size: 15px;
	}

	@media (hover: hover) {a:hover, a:focus {
		text-decoration: unset;
	}}

	@media (max-height: 412px) {
		header .basic-container {
			height: 2.2rem;
		}
	}

	main section {
		padding: 3rem;
	}

	#hero {
	min-height: unset;
	padding: 7rem 0;
	padding-bottom: 3rem;
	}

	.red-rectangle {
		width: auto;
		flex-direction: column;
		align-items: center;
		padding: unset;
		margin: 0 1rem;
		gap: 0;
	}

	.bio {
		width: 100%;
		padding: 1.5rem;
		margin-top: unset;
	}
